.petals{
    width: 100px;
    height: 100px;
    background-color: rgb(117, 117, 177);
    border-radius: 0 100%;
    
    position: relative;
    top: 100px;
    left: 100px;
    transform-origin: right bottom;
    left: 100px;
}

#primer {
    /* transform: rotate(360deg); */
    top: 100px;
    
}

#segon {
    /* transform: rotate(360deg); */
    top: 0px;
    transform: rotate(60deg);
}

#tercer {
    /* transform: rotate(360deg); */
    top:-100px;
     transform: rotate(120deg);
}

#quart {
    /* transform: rotate(360deg); */
    top: -200px;
    transform: rotate(180deg);
}

#cinquè {
    /* transform: rotate(360deg); */
    top: -300px;
    transform: rotate(240deg);
}

#sisè {
    /* transform: rotate(360deg); */
    top: -400px;
    transform: rotate(300deg);
}

.cor {
    height: 50px;
    width: 50px;
    background-color: rgb(235, 235, 154);
    border-radius: 50%;
    position: relative;
    top:-425px;
    left: 175px;
}

.flor{
    width: 400px;
    height: 400px;
    float: left;
}

.flor:first-child{
    animation-name: rotacio;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.flor:hover {
    animation-name: rotacio;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}


@keyframes rotacio{
    0%{
        transform: rotate(0deg)
    }

    100%{
        transform: rotate(360deg)
    }
}